.luxaorg-pixelate-windows-xp-1-icon {
    position: absolute;
    top: -94px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
}

.image-4-icon {
    position: absolute;
    top: -93px;
    left: 0px;
    width: 1920px;
    height: 1081px;
    object-fit: cover;
}

.ccadp-pgina-inciial-child {
    position: absolute;
    top: 983px;
    left: 0px;
    background-color: #0278d8;
    width: 1920px;
    height: 97px;
}

.ccadp-pgina-inciial-item {
    position: absolute;
    top: 363px;
    left: 369px;
    border-radius: 1000px;
    background-color: #ffe696;
    width: 143px;
    height: 148px;
}

.div {
    position: absolute;
    top: 354px;
    left: 399px;
    font-size: 126px;
    font-family: Inter;
    color: #292929;
}

.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0);
    width: 143px;
    height: 148px;
}

.imagens {
    position: absolute;
    top: 175px;
    left: 22px;
}

.rectangle-parent {
    position: absolute;
    top: 112px;
    left: 96px;
    width: 143px;
    height: 208px;
}

.pngwingcom-1-icon {
    position: absolute;
    top: 99px;
    left: 85px;
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.pngwingcom-2-icon {
    position: absolute;
    top: 349px;
    left: 85px;
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.pngwingcom-3-icon {
    position: absolute;
    top: 593px;
    left: 85px;
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.pngwingcom-4-icon {
    position: absolute;
    top: 100px;
    left: 353px;
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.texto {
    position: absolute;
    top: 175px;
    left: 39px;
}

.rectangle-group {
    position: absolute;
    top: 112px;
    left: 369px;
    width: 143px;
    height: 208px;
}

.vdeos {
    position: absolute;
    top: 170px;
    left: 31px;
}

.rectangle-container {
    position: absolute;
    top: 355px;
    left: 96px;
    width: 143px;
    height: 203px;
}

.msica {
    position: absolute;
    top: 170px;
    left: 28px;
}

.group-div {
    position: absolute;
    top: 598px;
    left: 96px;
    width: 143px;
    height: 203px;
}

.ccadp-pgina-inciial-inner {
    position: absolute;
    height: 4.7%;
    width: 11.67%;
    top: 93.16%;
    right: 86.35%;
    bottom: 2.14%;
    left: 1.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.ccadp-pgina-inciial {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto Mono';
}