.luxaorg-pixelate-windows-xp-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
}

.ccadp-msica-child {
    position: absolute;
    top: 1048px;
    left: calc(50% - 960px);
    background-color: #c7c7c7;
    width: 1920px;
    height: 120px;
}

.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #c7c7c7;
    width: 425px;
    height: 120px;
}

.group-item {
    position: absolute;
    top: 33px;
    left: 30px;
    border-radius: 50%;
    background-color: #c7c7c7;
    width: 66px;
    height: 66px;
}

.group-inner {
    position: absolute;
    top: 43px;
    left: calc(50% - 101.5px);
    background-color: #c7c7c7;
    width: 258px;
    height: 46px;
}

.rectangle-parent {
    position: absolute;
    top: 1048px;
    left: 0px;
    width: 425px;
    height: 120px;
}

.ccadp-msica-item {
    position: absolute;
    top: 2px;
    left: 0px;
    background-color: rgba(104, 104, 104, 0.8);
    width: 1920px;
    height: 1172px;
}

.image-4-icon {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 1920px;
    height: 1081px;
    object-fit: cover;
}

.ccadp-msica-inner {
    position: absolute;
    top: 1077px;
    left: 0px;
    background-color: #0278d8;
    width: 1920px;
    height: 97px;
}

.group-icon {
    position: absolute;
    height: 4.33%;
    width: 11.67%;
    top: 93.71%;
    right: 86.38%;
    bottom: 1.97%;
    left: 1.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.rectangle-div {
    position: absolute;
    top: 238px;
    left: 423px;
    border-radius: 75px;
    background-color: #ffe696;
    width: 1073px;
    height: 686px;
}

.ccadp-msica-child1 {
    position: absolute;
    top: 238px;
    left: 423px;
    border-radius: 75px 75px 0px 0px;
    background-color: #c7c7c7;
    width: 1073px;
    height: 85px;
}

.ccadp-msica-child2 {
    position: absolute;
    top: 264.99px;
    left: 1334.24px;
    border-radius: 3px;
    background-color: #c7c7c7;
    border: 4px solid #000;
    box-sizing: border-box;
    width: 36.8px;
    height: 35px;
}

.ccadp-msica-child3 {
    position: absolute;
    top: 261px;
    left: 1404px;
    background-color: #c7c7c7;
    width: 42px;
    height: 40px;
}

.ccadp-msica-child4 {
    position: absolute;
    top: 261px;
    left: 1257.72px;
    background-color: #c7c7c7;
    width: 42px;
    height: 40px;
}

.adicionar-msicas-atravs {
    position: absolute;
    top: 191.4px;
    left: 0px;
    display: inline-block;
    width: 268.1px;
    height: 69.2px;
}

.image-2-icon {
    position: absolute;
    top: 0px;
    left: 43px;
    width: 182.4px;
    height: 182.4px;
    object-fit: cover;
}

.adicionar-msicas-atravs-do-s-parent {
    position: absolute;
    top: 545px;
    left: 649px;
    width: 268.1px;
    height: 260.6px;
}

.adicionar-dos-meus {
    position: absolute;
    top: 174.92px;
    left: 0px;
    display: inline-block;
    width: 189px;
    height: 70px;
}

.music-icon {
    position: absolute;
    top: 0px;
    left: 12.88px;
    width: 163.5px;
    height: 163.5px;
    object-fit: cover;
}

.adicionar-dos-meus-arquivos-parent {
    position: absolute;
    top: 561.08px;
    left: 1048px;
    width: 189px;
    height: 244.9px;
}

.se-pudesse-escolher {
    position: absolute;
    top: 412px;
    left: calc(50% - 449px);
    font-size: 32px;
    text-align: left;
    display: inline-block;
    width: 915px;
    height: 102px;
}

.line-div {
    position: absolute;
    top: 282.07px;
    left: 1258.28px;
    border-top: 4px solid #000;
    box-sizing: border-box;
    width: 41.4px;
    height: 4px;
}

.ccadp-msica {
    width: 100%;
    position: relative;
    height: 1174px;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: 'Roboto Mono';
}

.ccadp-msica-3-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 75px;
    background-color: #ffe696;
    width: 1073px;
    height: 686px;
}

.ccadp-msica-3-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 75px 75px 0px 0px;
    background-color: #c7c7c7;
    width: 1073px;
    height: 85px;
}

.insira-seus-links {
    position: absolute;
    top: 154px;
    left: calc(50% - 205.5px);
    font-size: 36px;
    display: inline-block;
    width: 411px;
}

.httpsopenspotifycomintl- {
    position: absolute;
    top: 255px;
    left: 114px;
    font-size: 22px;
}

.group-child1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 14px;
    background-color: #fff;
    width: 892px;
    height: 52px;
}

.group-child2 {
    position: absolute;
    top: 221px;
    left: 0px;
    background-color: #fff;
    width: 650px;
    height: 52px;
}

.group-child3 {
    position: absolute;
    top: 221px;
    left: 669px;
    background-color: #fff;
    width: 223px;
    height: 52px;
}

.rectangle-group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 892px;
    height: 273px;
}

.ccadp-msica-3-inner {
    position: absolute;
    top: 244px;
    left: 92px;
    width: 892px;
    height: 273px;
}

.ccadp-msica-3-child1 {
    position: absolute;
    top: 476.5px;
    left: 113.5px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 29px;
}

.ccadp-msica-3-child2 {
    position: absolute;
    top: 577px;
    left: 742px;
    border-radius: 17px;
    background-color: #fff;
    width: 280px;
    height: 65px;
    cursor: pointer;
}

.prxima {
    position: absolute;
    top: 589px;
    left: calc(50% + 277.5px);
    text-align: left;
    cursor: pointer;
}

.adicionar {
    position: absolute;
    top: 470px;
    left: calc(50% + 249.5px);
    text-align: left;
}

.group-child4 {
    position: absolute;
    height: 85.71%;
    width: 16.78%;
    top: 5.73%;
    right: -0.03%;
    bottom: 8.55%;
    left: 83.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child5 {
    position: absolute;
    top: 0px;
    left: 73.97px;
    border-radius: 3px;
    background-color: #c7c7c7;
    border: 4px solid #000;
    box-sizing: border-box;
    width: 36.8px;
    height: 35px;
}

.group-child6 {
    position: absolute;
    top: 19.08px;
    left: 0px;
    border-top: 4px solid #000;
    box-sizing: border-box;
    width: 41.4px;
    height: 4px;
}

.rectangle-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 110.7px;
    height: 35px;
}

.group-parent {
    position: absolute;
    height: 5.1%;
    width: 16.66%;
    top: 3.79%;
    right: 4.77%;
    bottom: 91.11%;
    left: 78.56%;
}

.ccadp-msica-3 {
    width: 1073px;
    position: relative;
    height: 686px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: center;
    font-size: 32px;
    color: #000;
    font-family: 'Roboto Mono';
}